@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;600&display=swap');

  * {
    margin: 0;
    padding: 0;  
    color:#3D3D3D;
    font-size:16px;
  }

 a{
   text-decoration :none;
   color: #3D3D3D;
 }

  html, body {
    position:relative;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100%;
    #root {
      height: 100%;
    }
  }

  body {
    box-sizing: border-box;
  }



  ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 10px;
  border: 1.5px solid #f1f1f1;
}